debug/
/target
**/*.rs.bk
/bin
/pkg
/node_modules
/bin
/pkg
/myenv
.dora*
.DS_Store
__pycache__
.env
guest-profiles

data/**/*.csv

data/embeddings/*
!data/embeddings/combined.json

data/clusters/*
!data/clusters/*.bincode
!data/clusters/*.png

data/precompiled/*
!data/precompiled/centroids-map.bincode
